<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Team7</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id ="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if request.endpoint == 'index' %}active{% endif %}" >
          <a href="{{ url_for('index') }}">Home</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not current_user.is_authenticated %}
          <li class="{% if request.endpoint == 'login' %}active{% endif %}" >
            <a href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="{% if request.endpoint == 'register' %}active{% endif %}" >
            <a href="{{ url_for('register') }}">Register</a>
          </li>
        {% else %}
          <p class="navbar-text">Hi, {{ current_user.username }}</p>
          <li class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >Account<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-label="dropdownMenu1">
              <li class="{% if request.endpoint == 'profile' %}active{% endif %}">
                <a href="{{ url_for('index') }}">Profile</a>
              </li>
              <li class="{% if request.endpoint == 'logout' %}active{% endif %}" >
                <a href="{{ url_for('logout') }}">Logout</a>
              </li>
            </ul>
          </li>
        <!--
          <li class="{% if request.endpoint == 'logout' %}active{% endif %}" >
            <a href="{{ url_for('logout') }}">Logout</a>
          </li>
          <ul class="nav navbar-nav navbar-left">
            <li class="{% if request.endpoint == 'profile' %}active{% endif %}">
             <a href="{{ url_for('index') }}">Profile</a>
            </li>
          </ul>
          -->
        {% endif %}
        <li>
          <button class="button" onclick="darkMode()">Dark mode</button>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<style>

.dark_mode {
  color: white;
  background-color: black;
}

.button {
  background-color: #F8F8F8;
  border: none;
  color: #777777;
  padding: 9px 8px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<script>
function darkMode() {
    document.body.classList.toggle("dark_mode");
}
</script>