<!---------
<!DOCTYPE html>
<h1>

</h1>
<p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
</p>

    {% if filename %}
    <div>
        <img src = "{{url_for('display_image', filename = filename)}}"
             width = "400"
             height = "500" />
    </div>
    {% endif %}

    <form method="post" enctype= "multipart/form-data">
        <dl>
            <p>
                <input type = "file" name = "file" autocomplete = "off" required>
            </p>
        </dl>
        <p>
            <input type = 'submit' value = "Submit">
        </p>
    </form>
    <form method = "post" action = '/'>
        <p><input type="submit" value="Return"/> </p>
    </form>
-------->
{% extends 'base.html' %}

{% block app_content %}
{#    #}
{#<form class="form-horizontal">#}
{#  <fieldset>#}
{#    <legend>UPLOAD PRODUCTS</legend>#}
{#    <div class="col-md-6">#}
{#        {% import 'bootstrap/wtf.html' as wtf %}#}
{#        {{ wtf.quick_form(form) }}#}
{#    </div>#}
{#    <br>#}
{#  </fieldset>#}
{#</form>#}
{##}
{#<br>#}
{#<br>#}

    <h1>Upload Form</h1>
    <br>
    <fieldset>
    <div class="col-md-6">
        {% import 'bootstrap/wtf.html' as wtf %}
        {{ wtf.quick_form(form) }}
    </fieldset>
    </div>

{% endblock %}
